p {
  color: blue;
}

h2{
  font-style: italic;
  text-align: center;
}

p{
  font-family: sans-serif;
}

ul{
  font-size: 14px;
  line-height: 22px
}

.panel-heading{
  text-align: center
}

h2{
  text-align: center;
}

.jumbotron {
  text-align: center;
}

#avi {
  width: 300px;
  height: 220px;
}

#activities {
  float: right;
}
